<div *ngIf="user" class="flex bg-purple-950 h-screen justify-center">

  <!-- Container -->
  <div class="flex flex-col md:w-[50%] w-[90%]">

    <!-- Header -->
    <div class="flex sm:flex-row flex-col relative text-white mt-4">

      <h1 class="text-5xl font-bold text-white">MyTasks</h1>

      <span class="absolute right-2 top-3 text-xl font-medium">Bem vindo, {{user.name}}!</span>
    </div>

    <!-- Form to create tasks -->
    <div class="flex flex-col gap-3 mt-16 items-end">

      @if(showInputTask) {

        <button (click)="handleInputTask()" class="bg-gray-100 p-2 rounded-md text-purple-950 w-max font-bold">
          Fechar
        </button>

        <form action="" [formGroup]="form" class="flex w-full gap-2 items-center" (ngSubmit)="saveTask()">

          <input
          class="p-3 w-full bg-gray-200 rounded-lg placeholder:text-gray-500 border"
          type="text"
          formControlName="description"
          placeholder="My task is..."
          >

          <button type="submit" class="p-2 h-max w-max bg-gray-100 text-purple-950 rounded-md font-medium">
            Criar
          </button>
        </form>
      }

      @else {

        <button (click)="handleInputTask()" class="bg-gray-100 p-2 rounded-md text-purple-950 w-max font-bold">
          Criar nova tarefa
        </button>
      }
    </div>

    <!-- Tasks Area -->
    <div class="flex md:flex-row flex-col mt-8">

      <div class="flex flex-col md:w-[30%] text-white justify-center items-center">
        <span class="text-lg font-medium mb-2">Filtros</span>

        <form action="">

          <div>
            <input name="all" type="checkbox">
            <label for="all" class="pl-2">Todas</label>
          </div>

          <div>
            <input name="completed" type="checkbox">
            <label for="completed" class="pl-2">Completadas</label>
          </div>

          <div>
            <input name="to-do" type="checkbox">
            <label for="to-do" class="pl-2">A fazer</label>
          </div>
        </form>
      </div>

      <div class="flex flex-col md:w-[70%] w-full">
        <span class="flex justify-center text-2xl text-gray-200 font-medium bg-purple-400 p-3 rounded-t-lg">
          Tasks
        </span>

        @if (user.tasks.length === 0) {
          <span class="flex justify-center text-md bg-gray-100 p-2">
            Você não tem tarefas cadastradas!
          </span>
        }
        @else {

          @for(task of user.tasks; track task.id) {

            @if(task.completed) {
              <div class="relative flex bg-green-300 p-2 border border-b-black">

                  <span class="flex justify-center text-md">
                    {{task.description}}
                  </span>

                  <div class="flex gap-2 absolute right-2">

                    <button class="text-red-500" (click)="handleCompletedTask(task.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                      </svg>

                    </button>
                    <button class="text-red-500" (click)="deleteTask(task.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                      </svg>

                    </button>
                  </div>
              </div>
            }
            @else {

              <div class="relative flex bg-gray-100 p-2 border border-b-black">

                  <span class="flex justify-center text-md">
                    {{task.description}}
                  </span>

                  <div class="flex gap-2 absolute right-2">

                    <button class="text-green-400" (click)="handleCompletedTask(task.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                      </svg>
                    </button>
                    <button class="text-red-500" (click)="deleteTask(task.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                      </svg>

                    </button>
                  </div>
              </div>
            }
          }
        }
      </div>
    </div>

  </div>
</div>
